html{
    background-image: url("wallpaperbetter.com_1366x768.jpg");
}

h2{
    margin:30px;
    text-decoration: underline;
}
a{
    color:blue;
}


.logo{
    height: 30px;
    width: 30px;
}

footer{
    display:flex;
    justify-content: space-between;
    color:white;
    background-color: #090441;
}

.div{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
}

.all{
    display: flex;
    align-content: center;
    margin: auto;
    width: 770px;
    background: white;
    flex-direction: column;
}
